/**
 * Copyright (c) 2000-present Liferay, Inc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This library is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 */

##n

package $package;

##n

import java.io.Serializable;

##n

/**
 * @author Peter Simon
 */
public class $className implements Serializable {

##n

#foreach ($property in $properties)
    #set ($propertyType = $languageUtil.getType($property.type))
    ##t 	private $propertyType $property.name;
#end

##n

##t	public $className() {
##t
##t	}

##n

#foreach ($property in $properties)
    #set ($propertyType = $languageUtil.getType($property.type))
    #set ($capitalizedPropertyName = $languageUtil.capitalize($property.name))

	##t 	public void set$capitalizedPropertyName($propertyType $property.name) {
    ##t 		this.$property.name = $property.name;
    ##t 	}
	##n

    ##t 	public $propertyType get$capitalizedPropertyName() {
    ##t 		return this.$property.name;
    ##t 	}
    ##n
#end

##t 	@Override
##t 	public String toString() {
##t 		return "$className{"
#foreach ($property in $properties)
    #set ($propertyType = $languageUtil.getType($property.type))
    #set ($capitalizedPropertyName = $languageUtil.capitalize($property.name))
    ##t 			+ "$property.name='" + this.$property.name + "', "
#end
##t 			+ "}";
##t 	}
##n
}